argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
blinker==1.9.0
cffi==2.0.0
click==8.3.0
colorama==0.4.6
cryptography==45.0.7
Flask==3.1.2
gunicorn==23.0.0; platform_system != "Windows"
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy==1.18.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pycparser==2.23
PyMySQL==1.1.2
setuptools==80.9.0
types-PyMySQL==1.1.0.20250914
typing_extensions==4.15.0
waitress==3.0.2; platform_system == "Windows"
Werkzeug==3.1.3
