{% extends "layout.html" %}

{% block title %}{{ campus }} Campus Schools{% endblock %}

{% block head %}
	<style>
		@media (width >= 622px) {
			.spacer {
				display: inline-block;
				width: 20px;
			}
			input[type="text"] {
				margin-left: 95px;
			}
			button[type='submit'] {
				margin-left: 230px;
			}
		}
		@media (width < 622px) {
			.spacer {
				display: block;
				height: 10px;
			}
			input[type="text"] {
				margin-left: 0;
			}
			button[type='submit'] {
				margin-left: 0;
			}
		}
	</style>
{% endblock %}

{% block content %}
	<h1>Campus {{ campus }}</h1>
	<form action="\add\SRC\schools" method="post">
		{% for i in range(1, no_of_schools + 1) %}
			<label for="school{{ i }}">Name of School-{{ i }} </label>
			<div class="spacer"></div>
			<input type="text" id="school{{ i }}" autofocus autocomplete="off" required/>
			<br>
			<label for="rooms{{ i }}">Number of Rooms in school-{{ i }} </label>
			<div class="spacer"></div>
			<input type="number" id="rooms{{ i }}" min="1" max="65535" autocomplete="off" required/>
			<br> <br>
		{% endfor %}
		<button type="submit">Save</button>
	</form>
{% endblock %}
