{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>Welcome to the home page!</h1>
	<br>

	<form action="/show/campus">
		<button type="submit" style="margin: 10px auto;">Show Campus</button>
	</form>

	<form action="/show/department">
		<button type="submit" style="margin: 10px auto;">Show Department</button>
	</form>

	<form action="/show/programme">
		<button type="submit" style="margin: 10px auto;">Show Programme</button>
	</form>

	<form action="/show/faculty">
		<button type="submit" style="margin: 10px auto;">Show Faculty</button>
	</form>
{% endblock %}
