{% extends "layout.html" %}

{% block head %}
	<meta name="description"
          content="Login to access your account.
                   Enter your username or ID and password for authentication.">
    <style>
        #loginForm > label {
            width: 8ch;
        }
        @media screen and (min-width: 409px) {
            #content > form > label {
                text-align: left;
            }
            #content > form > button {
                margin-left: 5rem;
                margin-top: 0.5rem;
            }
        }
        form > button {
            margin: auto;
        }
        .eye-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .password-container {
            position: relative;
        }
    </style>
{% endblock %}

{% block title %}{{ role.title() }} Login{% endblock %}

{% block content %}
    <h1>{{ role.title() }} Login</h1>
    {% set userType = userType or "text" %}
    <form id="loginForm" action={{ auth }} method="post">
        <label for="user">{{ user }} </label>
        <input type={{ userType }} name="user" id="user" autofocus autocomplete="off" required>
        <br>
        <label for="password">Password </label>
        <br>
        <button type="submit">Login</button>

        {% if error_message %}
            <div class="error message" style="margin-top: 0.5em;">{{ error_message }}</div>
        {% endif %}
    </form>
    <script>
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.type === "password" ? "text" : "password";
            passwordInput.type = type;

            togglePassword.innerHTML = type === "password" ? "&#128065;" : "&#128587;";
        });
        window.history.pushState(null, "", window.location.href);
        window.onload = function () {
            if (window.history && window.history.pushState)
                window.history.pushState("forward", null, "./");
        }
    </script>
{% endblock %}
